.calculator {
  margin-top: 24px;
  padding: 24px;
  background: var(--white-color);
  min-height: 600px;

  &__title{
    &:global(.ant-typography) {
      font-size: 24px;
    }
  }
}

.days {
  display: flex;
}
