.header{
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  color: var(--black85-color);
  box-shadow: inset 0px -1px 0px #F0F0F0;

  &__content{
    height: 100%;
    display: grid;
    grid-template-columns: 48px 1fr auto auto;
    grid-column-gap: 16px;
    align-items: center;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 40px;
    width: 40px;
  }
}

.nav{
  display: flex;
  height: 100%;

  &__item{
    display: flex;
    align-items: center;
    height: calc(100% - 1px);
    border-bottom: 2px solid transparent;

    &:hover{
      border-bottom: 2px solid var(--primary6-color);
    }

    &_active {
      color: var(--blue6-color);
      border-bottom: 2px solid var(--primary6-color);
    }
  }
}
