@import "variables.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black85);
  font-size: 14px;
  line-height: 22px;
}

a {
  color: var(--black85);
  text-decoration: none;
}

a:hover {
  color: var(--blue6);
}
