:root{
    --header-height: 50px;

    --black85-color: rgba(0, 0, 0, 0.85);

    --primary1-color: #E6F7FF;
    --primary2-color: #BAE7FF;
    --primary3-color: #91D5FF;
    --primary4-color: #69C0FF;
    --primary5-color: #40A9FF;
    --primary6-color: #1890FF;
    --primary7-color: #096DD9;
    --primary8-color: #0050B3;
    --primary9-color: #003A8C;
    --primary10-color: #002766;

    --white-color: #FFFFFF
}
